---
# To be applied using the fleetctl CLI
apiVersion: v1
kind: options
spec:
  config:
    options:
      logger_plugin: kolide_grpc
      distributed_interval: 1800
      config_refresh: 1800
    decorators:
      load:
        - "SELECT uuid AS host_uuid, computer_name FROM system_info"
      interval:
        36000: "SELECT total_seconds AS uptime FROM uptime"
  overrides:
    platforms:
      darwin:
        decorators:
          load:
            - "SELECT uuid AS host_uuid, computer_name FROM system_info"
            - SELECT value as "downloaded_name" FROM kolide_json where path="/private/etc/launcher/installer-info.json" and key="download_file";
      windows:
        decorators:
          load:
            - "SELECT uuid AS host_uuid, computer_name FROM system_info"
---

