apiVersion: apps/v1
kind: Deployment
metadata:
  name: elastalert
  labels:
    app: elastalert
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elastalert
  template:
    metadata:
      labels:
        app: elastalert
    spec:
      volumes:
        - name: elastalert-config
          configMap:
            name: elastalert-configmap
        - name: elastalert-rules
          configMap:
            name: elastalert-rules-configmap
        - name: smtp-auth
          secret:
            secretName: smtp-auth-secret
      containers:
        - name: elastalert
          # this image supports ES7
          image: bitsensor/elastalert:3.0.0-beta.0
          env:
            - name: ES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: elastic-credentials
                  key: username
            - name: ES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: elastic-credentials
                  key: password
          volumeMounts:
            - name: elastalert-config
              readOnly: true
              mountPath: /opt/elastalert/config.yaml
              subPath: config.yaml
            # configmaps are apparently read only, therefore this won't work with the
            # elastalert kibana plugin
            # - name: elastalert-rules
            #   readOnly: false
            #   mountPath: /opt/elastalert/rules
            - name: smtp-auth
              readOnly: true
              mountPath: /tmp/smtp/smtp_auth.yaml
              subPath: smtp_auth.yaml
          resources:
            limits:
              cpu: "250m"
              memory: "256Mi"
---

